<% include ./partials/header.ejs %>

<div class="container-fluid">
  <div class="row">
  	<% for(var i = 0; i < businesses.length; i++) { %>
  		<div class="card col-xs-6 col-md-6 col-lg-6" style="width: 20rem;">
		  <div class="card-block">
		    <h4 class="card-title"><%= businesses[i].name %></h4>
		  
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%= businesses[i].city%></li>
		    <li class="list-group-item"><%= businesses[i].state %></li>
		    <li class="list-group-item"><%= businesses[i].phone %></li>
		    <li class="list-group-item">Yelp Rating <%= businesses[i].rating %></li>
		  </ul>
		  <div class="card-block">
		    <a href="/savecontractor" class="card-link">Save Contractor</a>
		
		  </div>
		</div>
     
	 <% } %>
   </div> 
</div>

<% include ./partials/footer.ejs %>